body{
    background-color: #f4f4f4;
    color:#555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100%;
    margin:0;
}


#mainHeader {
    background-color: #f2c391;
    color:#fff;
}

#mainHeader ul{
    padding:0;
    list-style: none;
}

#mainHeader li{
    display: inline;
}

#mainHeader a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}




a{
    text-decoration: none;
    color:white;
}


.button{
    background-color:  #87a2e8;
    color:white;
    padding:10px 15px;
    border:none;
    border-radius: 15px;
}

.button:hover{
    background: red;
    color:#fff;
}

.buttonSus{
    background-color:  #f2c391;
    color:white;
    padding: 10px 15px;  
    border:none;
    border-radius: 15px;
}

.buttonSus:hover{
    background: red;
    color:#fff;
}

.buttonSus ul{
    padding:0;
    list-style: none;
}

.buttonSus li{
    display: inline;
}

.container{
    position: relative;
    
    width: 80%;
    margin:auto;
    overflow:hidden;
}



#navbar{
    background-color: #87a2e8;
    color:white;
}

#navbar ul{
    padding:0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

.casuta{
    float:left;
    width: 33%;
    border:1px dotted #333;
    padding: 5px;
    margin:0 0.5px;
    box-sizing: border-box;
    border-radius: 15px;
}



#mainFooter{
    position: absolute;
    clear: both;
    bottom: 0;
    /* width: 96.9%; */
    height: 2.3em;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: -200;
}

